* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

#searchLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchLogo img{
    width: 50%;
}

.search{
    width: 50%;
}

ul li a {
  color: black;
  text-decoration: none;
}

/* #ul1 {
  padding-top: 20px;
}

#ul2 {
  padding-top: 20px;
  padding-bottom: 20px;
} */

main {
  /* width: 90vw; */
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}

main section {
  width: 90%;
}

article {
  margin: 10px;
  background-color: white;
}

article div {
  position: relative;   
  margin-top: 1px;
  border: 1px solid #ebebeb;
  padding: 15px;
}

header {
  width: 100vw;
  background-color: #eac926;
  /* padding-left: 10px; */
}

header img {
  width: 50%;
  padding: 30px;
  display: flex;
  align-self: center;
}

header p {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

#menuBurger {
  background-color: #1259c3;
  color: #ebebeb;
  padding: 10px;
  border-radius: 10%;
}

img {
  width: 100%;
}

#precio {
  font-size: 18px;
}

.shipping-icon {
  color:  #39b54a;
        /*font-size: 1em; 
        margin-bottom: 10px;
        border: 2px solid #39b54a;
        border-radius: 50%; 
        padding: 10px; */

  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

#descuento {
  font-size: 16px;
  color: #39b54a;
}

#descripcion {
  font-size: 16px;
  padding-top: 20px;
  color: #666;
}

#description2{
    display: flex;
    border: none;
    align-items: center;
}

#description2 #precio {
    width: 30%;
  }

  #description2 #descuento {
    width: 70%;
  }  


#titular {
  font-size: 24px;
  padding: 10px;
}

footer {
  font-size: 12px;
  padding: 10px;
}

footer section {
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-card-icon {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.gift-icon {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.security-icon {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

#copyright {
  color: #666;
}

@media screen and (max-width: 360px) {
  #descripcion {
    display: none;
  }
  nav {
    display: none;
  }
  .shipping-icon {
    top: 10px; /* Ajusta el valor según sea necesario para dispositivos más pequeños */
  }
}

@media screen and (min-width: 361px) {

  #headerTablet{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }  
    

  main section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }    

  article{
    width: 300px;
  }

  header nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  header nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items:center;
    justify-content: space-around
  }

  li{
    padding-top: 5px;
  }

  ul{
    list-style: none;
    padding: 15px;
  }

  header img {
    width: 30%;
  }

  .burger-menu {
    display: none;
  }


  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  header img {
    width: 20%;
  }

  .burger-menu {
    display: none;
  }

  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  nav {
    display: block;
  }
}
