
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
 
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


    body{
        font-family: 'Roboto', sans-serif;
    }

    ul li a {
        color: black;
        text-decoration: none;
    
    }

    #ul1{
        padding-top: 20px ;
    }

    #ul2{
        padding-top: 20px ;
        padding-bottom: 20px;
    }

    main{
        /* width: 90vw; */
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ebebeb;

    }

    main section{
        width: 90%;
    }

    article{
        margin: 10px;
        /* border: 1px solid #ebebeb;
        border-top: 1px solid ; */
        background-color: white;
    }

    article div{
        margin-top: 1px;
        border: 1px solid #ebebeb;
        padding: 15px;
    }

    header{
        width: 100vw;
        background-color: #EAC926;
        padding-left: 10px;
        
    }

    header img{
        width: 50%;
        padding: 30px;
    }

    header p{
        padding-top: 20px;
        
    }

    .burger-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
       

    }

    #menuBurger{
        background-color:#1259c3;
        color: #ebebeb;
        padding: 10px;
        border-radius: 10%;
    }

    img{
        width: 100%;
    }

    #precio{
        font-size: 18px;
        
    }

    .shipping-icon{
        color:  #39b54a;
        font-size: 1em; 
        margin-bottom: 10px;
        border: 2px solid #39b54a;
            border-radius: 50%; 
            padding: 10px;
    }

    #descuento{
        font-size: 16px;
        color: #39b54a;
    }

    #descripcion{
        font-size: 16px;
        padding-top: 20px;
        color: #666;
    }

    #titular{
        font-size: 24px;
        padding: 10px;
    }

    footer{
        font-size: 12px;
        padding: 10px;
    }

    footer section{
        margin-bottom: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .credit-card-icon {
        color:#1259c3;
        font-size: 2em; 
        margin-bottom: 10px;
    }

    .gift-icon {
        color:#1259c3;
        font-size: 2em; 
        margin-bottom: 10px;
    }

    .security-icon {
        color:#1259c3;
        font-size: 2em; 
        margin-bottom: 10px;
    }

    #copyright{
        color: #666;
    }

    @media screen and (max-width: 360px) {
       
        #descripcion {
            display: none; 
        }
        nav {
        display: none;
    }
    
    }


    @media screen and (min-width: 361px) {
        header img {
            width: 30%; 
        }
    
        .burger-menu {
            padding-bottom: 15px; 
        }
    
        article {
            box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        }
        nav {
            display: none;
        }
    }

    @media screen and (min-width: 769px) {

        header img {
            width: 20%; 
        }
    
        .burger-menu {
            display: none; 
        }
    
        article {
            box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        }

        nav {
            display: block;

    }}

    
